@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn, a, .error {
    text-align: center;
    vertical-align: middle;
    background-repeat: repeat-x;
    cursor: pointer;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    width: 100%;
    display:block;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    border: 1px solid #3762bc;
    color: #ffffff;
}

.btn:hover, a:hover, .error:hover {
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    color: rgba(255, 255, 255, 0.75);
    background-color: #4a77d4;
}

* {
    box-sizing:border-box;
}

html {
    width: 100%;
    height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background:
            -webkit-radial-gradient(0% 100%, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
    -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
    -webkit-linear-gradient(-45deg, #672c0e 0%,#092756 100%);
    background-attachment: fixed;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1, .greeting {
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

input, table tr, caption {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    transition: box-shadow .5s ease;
}

input:focus, table tr:hover, caption:hover {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.t2 {
    border: 1px solid rgba(255, 28, 21, 0.85);
}

a:hover {
    color: deeppink;
}

.container-table {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

table, .links {
    border-spacing: 1px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    position: relative;
}
table * {
    position: relative;
}

table td, table th, table caption {
    /*font-size: 24px;*/
    padding-left: 12px;
    width: 250px;
    text-align: center;
}
table thead tr, table caption {
    height: 60px;
    line-height: 1.2;
    font-weight: unset;
}
table tbody tr {
    line-height: 1.2;
    height: 50px;
    background: rgba(0, 0, 0, 0.17);
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255, 255, 255, 0.4);
    border-collapse: collapse;

}

tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.17);
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.42), 0 1px 1px rgba(255, 255, 255, 0.4);}

tbody tr:hover {
    /*color: #555555;*/
    /*background-color: #f5f5f5;*/
    cursor: pointer;
}

table caption {
    /*background-color: #36004a;*/
    padding-top: 12px;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.greeting {
    height: 60px;
    font-size: 38px;
    /*color: black;*/
    text-align: center;
    margin-bottom: 50px;
}

span {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 5px;
}

.error {
    width: 25%;
    margin-top: 100px;
}



